<footer>
    <ul>
        <li>
            <a href="#">
                <span>
                    <ion-icon size="small" name="logo-facebook"></ion-icon>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <ion-icon size="small" name="logo-linkedin"></ion-icon>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <ion-icon size="small" name="logo-instagram"></ion-icon>
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <ion-icon size="small" name="logo-youtube"></ion-icon>
                </span>
            </a>
        </li>
    </ul>
    <small>
        Created by <a href="https://github.com/profremy" target="_blank" alt="GitHub Profremy">Profremy</a>
    </small>
</footer>