<header>
    <div class="flex">
        <h1><a href="/">Collection Organizer</a></h1>
        <a href="/" id="logo">
            <img src="/static/img/library-logo.png" alt="Collection Organizer Logo">
        </a>
    </div>
</header>