<div class="intro-text">
    <div class="animatedText">
        <h1 class="hide"><span class="text">Creating Innovation</span></h1>
        <h1 class="hide"><span class="text">For Everyday People</span></h1>
    </div>
    <div class="slider"></div>
</div>