<div class="wrapper">
    <div class="content text-center">
        <img src="/static/img/html5.png" alt="" class="logo">
        <img src="/static/img/star.png" alt="image" class="star">
        <h1>Fun With Animations!</h1>
    </div>
    <div class="background"></div>
</div>