<main>
    <div id="collections" class="row">
        {{!-- #collection.row>.col-12.text-center*4>a.btn.btn-primary.btn-lg --}}
        <div class="col-12 text-center">
            <a href="/books" class="btn btn-primary btn-lg">Books</a>
        </div>

        <div class="col-12 text-center">
            <a href="/music" class="btn btn-primary btn-lg">Music</a>
        </div>

        <div class="col-12 text-center">
            <a href="/movies" class="btn btn-primary btn-lg">Movies</a>
        </div>

        <div class="col-12 text-center">
            <a href="/comics" class="btn btn-primary btn-lg">Comics</a>
        </div>
    </div>
</main>