@import '~bootstrap/dist/css/bootstrap.min.css';


*, .btn {
    border-radius: 0;
}

ion-icon {
    pointer-events: none;
    vertical-align: middle;
}

input#book-search {
    border-radius: 20px 0 0 0;
}

h3 {
    margin: 1rem 0 ;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 2rem;
}

header {
    background: #555;
    padding: 2rem;
}

header h1 a {
    color: #fff;
}

header h1 a:hover {
    color: #fff;
    text-decoration: none;
}
#logo {
    width: 200px;
}

#logo img {
    width: 100%;
}

#collections > div {
    margin-top: 2rem;
}
#collections > div:first-child {
    margin-top: 0;
}

#collections .btn {
    width: 100%;
    font-size: 4rem;
}

/* #search-form {
    display: flex;
} */
.search-form-container form {
    position: relative;
}
#search-books-submit {
    position: absolute;
    right: 0;
    top: 0;
}

table td.break-word, table td.break-word *{
    word-break: break-word
}

table th.text-center, table td.text-center {
    text-align: center;
}

.remove-book {
    color: #dc3545;
    font-size:20px;
}

.dark-link {
    color: #212529;
}

/* .edit-book {
    color: #6c757d;
} */

.sm-hide {
    display: none;
}


@media (max-width:650px) {
    h1 {
        font-size: 2rem;
    }

    #collections .btn {
        font-size: 2rem;
    }

    .sm-hide {
        display: block;
    }

    .xs-hide {
        display: none;
    }

    .card {
        margin-top: 1rem;
    }

    .card:first-child {
        margin-top: 0;
    }

    .card-title {
        width: 80%;
    }

    .card-body {
        position: relative;
    }
    .card-body .edit-book {
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
    }

    .card-body .remove-book {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
        color: #fff;
    }

}

/* @media (max-width:480px) {

    #logo {
        width: 100px;
    }
    h1 {
        font-size: 1.5rem;
    }

    html {
        font-size: 0.7rem;
    }
} */